/**Google Fonts**/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/**ESTA FUENTE ES LA DEL TITULO**/
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color:#D4E6F1;
    color: black;
    height: 0px;
}

h1{
    font-family: 'alumni sans';
    font-size: 60px;
    margin-top: 15px;
    transform: scale(2,2);
}

li{
    list-style: none;
}

footer{
    background-color:#D4E6F1;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*GRID DEL HEADER DE TODAS LAS PAGINAS*/

.gridHeader{
    display: grid;
    margin-bottom: 250px;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
}

.principal {
    margin-left: 250px;
}

/*ESTILOS DE LAS LISTAS DE LA IZQUIERDA EN TODAS LAS PAGINAS*/

#listaIzq{
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #D4E6F1;
    z-index: 9999;
}

#listaIzq ul li{
    color: black;
    text-align: center;
    border-bottom: 1px solid grey;
    list-style: none;
    padding: 15px 10px;
}

.logo{
    border-radius: 60%;
    display: block;
    margin: 0 auto;
}

/*ESTILOS DEL CENTRO DEL MENU*/

.gridListMed{
    display: grid;
    /* margin-left: 350px;
    margin-right: 100px;
    margin-top: 75px; */
    grid-template-rows: 50% 50%;
    grid-template-columns:50% 50%;
    height: 300px;
    /* margin-bottom: 50px; */
    text-align: center;
}

.gridListMed ul li{
    display: inline-block;
}

.gridMain{
    display: grid;
    height: 300px;
    text-align: justify;
    background-color: #D4E6F1
}

/*UBICACION*/

.gridMapa{
    font-size: 30px;
    display: grid;
    text-align: center;
    grid-template-columns: 20%;
    margin-left: 30%;
    height: 5px;
    transform: scale(0.8,0.75);
}

/*CONTACTO*/

.gridContac{
    display: grid;
    grid-template-columns: 40% 40%;
    text-align: center;
    margin-left: 250px;
    margin-top: 50px;
    font-size: 30px;
}

.gridContac img{
    height: 25%;
    width: 25%;
    border-radius: 400%;
    transform: scale(1.1,1.1);
}

/*CERVEZA*/

.gridCerv{
    display: grid;
    grid-template-columns: 40% 40%;
    text-align: center;
    margin-left: 250px;
    margin-top: 50px;
    font-size: 30px;
}

.gridCerv img{
    width: 25%;
    height: 100%;
    transform: scale(1.2,1);
}

/*CARTA*/

.gridCarta{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin-left: 250px;
    margin-top: 180px;
    font-size: 30px;
}

.gridCarta img{
    width: 25%;
    height: 100%;
    transform: scale(2,2);
}